<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAiFhBuRcV4SIE5hzGbQ7jgIGWYTf2262g</string>
	<key>GCM_SENDER_ID</key>
	<string>255102487809</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.tekmez.metroquest</string>
	<key>PROJECT_ID</key>
	<string>metro-quest-656ea</string>
	<key>STORAGE_BUCKET</key>
	<string>metro-quest-656ea.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:255102487809:ios:e6d3ffbc804217a6655f00</string>
</dict>
</plist>